@charset "utf-8";

form {
    border: none;
    gap: 0px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 250px;
    border-radius: 25px;
    background-color: rgb(20, 120, 226);
    box-shadow: 2px 0px 2px 1px #000;
}