@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(20, 120, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@keyframes fade {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.meu_nome {
    color: rgb(250, 235, 215);
    animation: fade 2s infinite;
    font-weight: 800;
}

header {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(104, 171, 243);
    height: 150px;
}

.navegacao {
    display: flex;
    justify-content: space-around;
    width: 900px;
    align-items: center;
    /* background-color: black; */
}

.bo {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(208, 154, 29); /* Cor de fundo do botão */
    color: rgb(244, 231, 231); /* Cor do texto do botão */
    text-decoration: none; /* Remover sublinhado padrão de links */
    border: none; /* Remover borda padrão */
    border-radius: 10px; /* Arredondar as bordas do botão */
    cursor: pointer; /* Cursor de mão para indicar que é clicável */
    font-size: 20px;
    font-weight: 600;
    transition: transform 0.3s ease; /* Adicionando uma transição suave para a propriedade transform */
    box-shadow: 1px 1px 1px 1px black;
}

.bo:hover {
    background-color: rgb(240, 248, 255);
    color: rgb(20, 120, 226);
    /* padding: 20px 60px; */
    font-size: 25px;
    transform: scale(1.2); /* Aplicando uma transformação no evento hover */
}

main {
    background-color: rgb(14, 69, 85);
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    align-items: center;
    padding-bottom: 50px;

}

.conteudo_principal {
    text-indent: 10px;
    font-size: 2.5vh;
    width: 800px;
    height: auto;
    color: rgb(226, 216, 216);
    text-align: justify;
    line-height: 45px;
    /* background-color: black; */
}

.conteudo_secundario {
    /* background-color: black; */
    height: auto;
    width: auto;
}

.foto {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.baixo {
    display: flex;
    justify-content: center;
    margin: 50px;
    height: 500px;
    width: 400px;
    background-color: aqua;
    margin-top: 50px;
}

.container_mensagem {
    display: flex;
    justify-content: center;
    /* background-color: black; */
    margin-bottom: 400px;
    width: 200px;
}

.botao_hamburguer {
    display: none;
}

/* tela grande */
@media (max-width: 1372px) {
    /* .botao_hamburguer {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
        cursor: pointer;
    } */

    main {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    
    .navegacao {
        display: none;
    }

    .one, .two, .three {
        background-color: rgb(229, 229, 229);
        height: 5px;
        width: 100%;
        margin: 6px auto;
    }

    .botao_hamburguer {
        display: block;
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }
}

@media (max-width: 936px) {
    .conteudo_principal {
        font-size: 2vh;
        /* background-color: black; */
        width: 500px;
    }
}

@media (max-width: 425px) {
    .foto {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}