{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de contato</title>
    <link rel="stylesheet" type="text/css" href={% static "contato.css" %}/>
</head>
<body>

    <form class="fomulario" method="post" action="{% url 'inserir_contato' %}">
        {% csrf_token %}
        <h1>Formulário</h1>

        {% comment %} Nome {% endcomment %}
        <input type="text" placeholder="nome" class="entrada" name="nome">
        {% comment %} telefone {% endcomment %}
        <input type="text" placeholder="telefone" class="entrada" name="telefone">
        {% comment %} email {% endcomment %}
        <input type="text" placeholder="email" class="entrada" name="email">
        {% comment %} mensagem {% endcomment %}
        <input type="text" placeholder="mensagem" class="entrada" name="mensagem">

        <button type="submit">Enviar</button>
        {% comment %} aqui vai o nome da url e 
        não do template html {% endcomment %}
        <a href={% url 'url_pagina' %} >Voltar</a>

    </form>
    
</body>
</html>