{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "deletar.css" %}/>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Tem certeza que deseja excluir o contato "{{ contato.nome }}"?</h1>
       
        {% csrf_token %}
        {% if contato %}
            <a href="{% url 'deletar' contato.id %}">Confirmar</a><br>
        {% endif %}
        <a href="{% url 'mensagens' %}">Cancelar</a>  
    </div>
{% endblock %}