{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog pessoal</title>
    <link rel="stylesheet" type="text/css" href={% static 'home.css' %}/>
</head>
<body>

    <header>
        <h1 class="meu_nome"> Valdson Macedo </h1>
        <nav class="navegacao">
            <a class="bo b1">Sobre mim</a>

            <a class="bo b2" href={% url 'inserir_contato' %}>
                Contato
            </a>

            <a href="{% url 'mensagens' %}" class="bo mensagem">Mensagens</a>

            <a class="bo b3">Estilo de vida</a>
            <a class="bo b4">Universidade</a>
        </nav>
        
        <div class="botao_hamburguer">
            <div class='one'></div>
            <div class='two'></div>
            <div class='three'></div>
        </div>
    </header>

    <main>
        <div class="conteudo_principal">
                Olá, sou <b>Valdson Macedo</b>, um apaixonado pela igreja de cristo(católica) e esportes em geral. 
            Neste pequeno espaço na internet, compartilho minhas experiências, 
            reflexões e descobertas sobre minha vida. Sou um eterno otimista, 
            sempre em busca de inspiração e crescimento pessoal, e estou animado para compartilhar um pouco do meu mundo com você. 
            Espero que encontre aqui uma dose de motivação, conhecimento e entretenimento. Seja bem-vindo(a) ao meu universo!
        </div>

        <div class="conteudo_secundario">
            <img src={% static "images/foto.jpeg" %} class="foto" />
        <div>
        
        
    </main>
    
    <footer></footer>

    {% comment %} <footer class="baixo">
        <div>
            <div class="container_mensagem">
                <a href="{% url 'mensagens' %}" class="bo mensagem">Mensagens</a>
            </div>
        </div>
    </footer> {% endcomment %}

</body>
</html>