{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "sucesso.css" %}/>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Mensagens</h2>
        {% for contato in contatos %}
            <li>
                <b>Nome:</b>{{contato.nome}}  --- <b>mensagem:</b>{{contato.mensagem}}
            </li>
            
            <div class='botoes'>
                <a href="{% url 'editar_contato' contato.id %}" class="bo">Editar</a>
                <a href="{% url 'tela_deletar' contato.id %}" class="bo">Deletar</a>
            </div>
        {% endfor %}
    </div><br>
    <a href={% url 'url_pagina' %} class="bo">Voltar</a>
{% endblock %}